*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f2f2f2;
}
.flex{
    display: flex;
    align-items: center;
}
.links{
    text-decoration: none;
}
.normdiv{
    width: 1400px;
    height: 2950px;
    margin: 0 auto;
    background-color: #fffdf8;
}
.container{
    width: 1000px;
    margin: 0 auto;
}

.site-nav{
    margin: 0 auto;
    width: 1100px;
    height: 100px;
}
.site-nav__list{
    list-style-type: none;
    height: 90px;
    justify-content: space-between;
}
.site-nav__item{
    width: 270px;
    justify-content: space-between;
}
.site-nav__logo{
    margin-top: -5px;
    width: 210px;
    height: 25px;
}
.site-nav__link{
    font-size: 15px;
    color: #83888F;
    font-weight: 700;
    transition: ease 0.3s;
}
.hero{
    margin: auto;
    height: 1298px;
width: 1147px;
background-image: url(Bitmap\ \(2\).png);
background-repeat: no-repeat;
background-size: contain;
border-radius: 10px;
}

.hero h1{
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    text-align: left;
    padding-top: 90px;
    margin-left: 30px;
}
.hero p{
    padding-top: 20px;
    color: white;
    padding-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.8;
    margin-left: 30px;
}
.herode__btn{
    padding: 15px 30px;
    height: 56px;
width: 217px;
background: #0E8784;
border-radius: 6px;
text-align: center;
color: #FEFCF7;
text-decoration: none;
margin-left: 30px;
}
.image-part{
    padding-top: 80px;
    width: 1000px;
    height: 500px;
    justify-content: space-between;
    background-image: url(Group\ 13.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.card{
    width: 250px;
    height: 300px;
    
}
.card img{
    width: 200px;
    height: 150px;
}
.card h2{
    padding-top: 50px;
    font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #333D4B;
text-align: center;
}
.card p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #333D4B;
}
.containerca{
    margin: auto;
    width: 1000px;
    margin-top: -600px;
}
.why{
    height: 577px;
width: 1180px;
border-radius: 10px;
background: #2C343E;
margin: auto;
margin-top: 40px;

}
.aaa{
   margin-left: 50px;
}
.why h3{
    font-weight: 900;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #FEFCF7;padding-top: 100px;
}
.why p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #FEFCF7;
padding-top: 30px;
}
.why__cards{
    width: 900px;
    margin: 90px auto auto auto;
}
.why__card{
    width: 320px;
    height: 320px;
    border-radius: 8px;
    background: #0E8784;
}
.wrape img{
    width: 80px;
    margin-left: 100px;
   margin-top: 40px;

}
.why__card h4{
    padding-top: 40px;
    font-family: Fraunces;
    color: #fff;
font-size: 24px;
font-weight: 900;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
}
.why__card p{
    padding: 15px 25px;
    color: white;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}
.h55{
    margin-top: 300px;
text-align: left;
font-family: Fraunces;
color: #83888F;
font-size: 24px;
font-weight: 900;
line-height: 32px;
letter-spacing: 0px;
}
.line{
    margin-top: 100px;
    margin-left: 65px;
    width: 700px;
    height: 3px;
    justify-content: space-between;
    background: #FDD6BA;
}
.line__around{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fffdf8;
    border: 2px solid #0E8784
}

.number{
    margin-top: 80px;
    margin-left: 65px;
    width: 1000px;
    height: 600px;
    justify-content: space-between;
}
.number__card{
    width: 285px;
    height: 460px;
}
.number__card h1{
    font-family: Fraunces ;
font-size: 72px;
font-weight: 900;
line-height: 72px;
letter-spacing: 0px;
text-align: left;
color: #FDD6BA;
}
.number__card h5{
    padding-top: 30px;
    font-family: Fraunces ;
    padding-right: 30px;
    color: #333D4B;
font-size: 32px;
font-weight: 900;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
}
.number__card p{
    padding-top: 40px;
    padding-bottom: 65px;
color: #333D4B;
padding-right: 0px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
}
@media(max-width:409px){
    .normdiv{
        width: 400px;
        height: 2950px;
        margin: 0 auto;
        background-color: #fffdf8;
}
.container{
    width: 300px;
    margin: auto;
}
.site-nav{
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
}